@use "../../variables" as *;

.MprisPlayers {
    @include widget-container;

    min-width: 400px;

    box.cover-art {
        min-width: 120px;
        min-height: 120px;
        border-radius: 5px;
        margin-right: .6rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        // background-color: mocha.$surface0;
    }

    box.title label {
        font-weight: bold;
        font-size: 1em;
    }

    scale {
        padding: 0;
        margin: .7rem 0.5rem;

        trough {
            min-height: 8px;
            border-radius: 10px;
        }

        highlight {
            border-radius: 10px;
        }
    }

    centerbox.actions button {
        @include circle-button($padding: 0.4rem);
    }

    .switcher {
        padding-right: 5px;

        button {
            min-width: 0;
            min-height: 0;
            padding: 0.4em;
            margin: 2.5px 0px;
        }

        .selected {
            background-color: $accent-color;
        }

    }
}
