@use "../../variables" as *;

.Overway {

    border-radius: 10px;
    background-color: $scrim-color;

    .WindowContainer {
        padding: 50px;
    }

    .WidgetContainer {
        background-color: $bg-color;
        border: $widget-border-width solid $unfocused-border-color; // mocha.$surface0;
        border-radius: 10px;
        margin: $widget-margin;
        padding: $widget-padding
    }
}
