@use "../../variables" as *;

.VolumeControls {

    @include widget-container;

    button {
        @include circle-button($padding: 0.6em, $icon-size: 1.2em);
    }

    .ShowMixerButton {
        // background-color: mocha.$base;
        border-radius: 10px;
        margin-bottom: 2px;
    }

    label {
        min-width: 2em;
        font-weight: bold;
        padding-left: 10px;
        font-size: 1.2em;
        color: $text-color;
    }

    scale {
        min-width: 8em;

        // margin: 1em
        highlight {
            border-radius: 10px;
        }

        trough {
            border-radius: 10px;
            min-height: 4px;
        }
    }
}
