
@use "../../variables" as *;

.Datetime {
    @include widget-container;

    min-width: 250px;

    .Time {
        font-weight: bold;
        font-size: 3em;
    }

    .Date {
        font-size: 2em;
    }
}
