@use "../../variables" as *;

.dashboard {

  background-color: $scrim-color;
  border-radius: 10px;

  * label {
    color: $text-color;
  }

  * icon {
    color: $text-color
  }

  .main-window {
    padding: 50px;
  }

}
