@use "mocha.sass";

// Border size = 4
// gaps 5

$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$accent-color: #{"@accent_color"};
$text-color: #{"@theme_text_color"};
$border-color: #{"@borders"};
$unfocused-border-color: #{"@unfocused_borders"};


$widget-border-width: 4px;
$widget-margin: 2.5px;
$widget-padding: 0.6rem;

$button-border-width: 2px;
$button-margin: 2.5px;

@mixin circle-button($padding: 1em, $icon-size: 1em) {
    min-width: 0;
    min-height: 0;
    border-radius: 100%;
    background-color: $bg-color;
    border: $button-border-width solid $unfocused-border-color;
    margin: $button-margin;
    padding: $padding;

    &:hover {
        border-color: $accent-color
    }

    icon {
        font-size: $icon-size
    }
}


// Hide keyboard hinting
* button:focus {
    outline: none;
    box-shadow: none;
}

* scale:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

// OVERWAY: MAIN WINDOW
.Overway {

    border-radius: 10px;
    background-color: rgba($color: #6C7086, $alpha: 0.6);

    .WindowContainer {
        padding: 50px;
    }

    .WidgetContainer {
        background-color: $bg-color;
        border: $widget-border-width solid $unfocused-border-color; // mocha.$surface0;
        border-radius: 10px;
        margin: $widget-margin;
        padding: $widget-padding
    }
}

// Datetime Widget
.Datetime {

    .Time {
        font-weight: bold;
        font-size: 3em;
    }

    .Date {
        font-size: 2em;
    }
}

// System Control Widget
.SystemControls {

    button {
        @include circle-button($icon-size: 2em);
    }
}

// Volume Mixer Window
.VolumeMixer {
    min-width: 600px;

    // background-color: mocha.$surface0;

    border: 4px solid;
    border-radius: 10px;

    .StreamSource {
        padding-left: 20px;
        padding-right: 10px;
        font-weight: bold;
    }

    .StreamName {

        padding-right: 20px;
    }

    .MixerEntry {
        border-radius: 10px;
        // background-color: mocha.$surface1;
        padding: 10px 0px;
        margin: 5px 0px;
        // box-shadow: 1px 1px 2px;
    }

    scale {
        padding: 15px 20px;
    }

}

// Volume Controls Widget
.VolumeControls {

    button {
        @include circle-button($padding: 0.4em, $icon-size: 1em);
    }

    .ShowMixerButton {
        // background-color: mocha.$base;
        border-radius: 10px;
        margin-bottom: 2px;
    }

    label {
        min-width: 2em;
        font-weight: bold;
        padding-left: 10px;
    }

    scale {
        min-width: 8em;

        // margin: 1em
        highlight {
            border-radius: 10px;
        }

        trough {
            border-radius: 10px;
            min-height: 4px;
        }
    }
}


.MediaPlayer {

    min-width: 400px;

    box.cover-art {
        min-width: 120px;
        min-height: 120px;
        border-radius: 5px;
        margin-right: .6rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        // background-color: mocha.$surface0;
    }

    box.title label {
        font-weight: bold;
        font-size: 1em;
    }

    scale {
        padding: 0;
        margin: .7rem 0;

        trough {
            min-height: 8px;
            border-radius: 10px;
        }

        highlight {
            border-radius: 10px;
        }
    }

    centerbox.actions button {
        @include circle-button($padding: 0.4rem);
    }
}

.Tray {
    .item {
        @include circle-button($icon-size: 2em, $padding: 0.4rem);
        margin: 0px 2.5px;
    }
}
