@use "widget/overway/Overway";
@use "widget/tray/Tray";
@use "widget/datetime/Datetime";
@use "widget/media-player/MediaPlayer";
@use "widget/system-controls/SystemControls";
@use "widget/volume-controls/VolumeControls";
@use "widget/volume-controls/VolumeMixer";
@use "widget/notifications/Notification";
@use "widget/notifications/NotificationTray";
@use "widget/quick-actions/QuickActions";
@use "widget/scratchpad/Scratchpad";

// Hide keyboard hinting
* button:focus {
    outline: none;
    box-shadow: none;
}

* scale:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
