@use "sass:string";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$accent-color: #{"@accent_color"};
$text-color: #{"@theme_text_color"};
$border-color: #{"@accent_color"};
$unfocused-border-color: #{"@unfocused_borders"};

// At the bottom of the page
// https://gnome.pages.gitlab.gnome.org/libadwaita/doc/1.6/css-variables.html

$scrim-color: gtkalpha($fg-color, 0.3); // rgba($color: #6C7086, $alpha: 0.6);

$widget-border-width: 4px;
$widget-border-radius: 10px;
$widget-margin: 2.5px;
$widget-padding: 0.6rem;

$button-border-width: 2px;
$button-margin: 2.5px;

$notification-width: 400px;

$error: #{"@error_color"};

$red: #{"@red_1"};


@mixin circle-button($padding: 1em, $icon-size: 1em) {
    min-width: 0;
    min-height: 0;
    border-radius: 100%;
    background-color: $bg-color;
    border: $button-border-width solid $unfocused-border-color;
    margin: $button-margin;
    padding: $padding;

    &:hover {
        border-color: $accent-color
    }

    icon {
        font-size: $icon-size
    }
}

@mixin widget-container {
    background-color: $bg-color;
    border: $widget-border-width solid $unfocused-border-color;
    border-radius: 10px;
    margin: $widget-margin;
    padding: $widget-padding
}
